<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  
  <link rel="stylesheet" type="text/css" href="{{ site.base_url }}/stylesheets/normalize.css" media="screen">
  <link rel="stylesheet" type="text/css" href="{{ site.base_url }}/stylesheets/stylesheet.css" media="screen">
  <link rel="stylesheet" type="text/css" href="{{ site.base_url }}/stylesheets/github-light.css" media="screen">
  
  <title>{{ page.title }} | Cactus Game Engine{% if page.site_area == "Tutorials" %} Tutorials{% elsif page.site_area == "Docs" %} Docs{% endif %}</title>
</head>
<body>
  <section class="page-header">
    <h2>
      {% if page.site_area == "Home" %}
        Home
      {% else %}
        <a href="{{ site.base_url }}/">Home</a>
      {% endif %}
      
      |
      
      {% if page.site_area == "Home" %}
        About
      {% else %}
        <a href="{{ site.base_url }}/About/">About</a>
      {% endif %}
      
      |
      
      {% if page.site_area == "Tutorials" %}
        Tutorials
      {% else %}
        <a href="https://shearofdoom.github.io/Cactus/Tutorials">Tutorials</a>
      {% endif %}
      
      |
      
      {% if page.site_area == "Docs" %}
        Docs
      {% else %}
        <a href="https://shearofdoom.github.io/Cactus/Docs">Docs</a>
      {% endif %}
    </h2>
    <h4>
      <a href="https://github.com/ShearOfDoom/Cactus/">GitHub</a>
      |
      <a href="http://chat.stackexchange.com/rooms/24299/discussion-about-cactus/">Stack Exchange Chat</a>
      |
      <a href="https://www.reddit.com/r/CactusEngine/">/r/CactusEngine (Reddit)</a>
     </h4>
    <h1 class="project-name">Cactus <img style="vertical-align:middle" src="http://upload.wikimedia.org/wikipedia/commons/thumb/7/7d/PEO-cactus.svg/64px-PEO-cactus.svg.png" alt="Cactus' Logo"></h1>
    {% if page.site_area == "Home" %}
      <h2 class="project-tagline">A simple Python engine for creating text-based adventure games.</h2>
      <h5>Download Latest Release ({{ site.latest_release }}):</h5>
      <a href="https://github.com/ShearOfDoom/Cactus/archive/{{ site.latest_release }}.zip" class="btn">Download .zip</a>
      <a href="https://github.com/ShearOfDoom/Cactus/archive/{{ site.latest_release }}.tar.gz" class="btn">Download .tar.gz</a>
    {% endif %}
  </section>
  
  <section class="main-content">
    
    <a href="{{ site.base_url }}/">Home</a> &#187;
    {% assign url_blocks = page.url | split: "/" %}
    {% for block in url_blocks %}
    {% if forloop.last %}
    This Page
    {% else %}
    <a href="{{ site.base_url }}/{% for part_of_link in url_blocks limit: forloop.index | plus 1 %}{{ part_of_link }}/{% endfor %}">{{ block }}</a> &#187;
    {% endif %}
    {% endfor %}
    
    <h1>{{ page.title }}:</h1>
    
    {{ content | markdownify }}
    
    <footer class="site-footer">
      <span class="site-footer-credits"><a href="https://github.com/jasonlong/cayman-theme">This site design (Cayman theme)</a> is based of the works of <a href="https://twitter.com/jasonlong">Jason Long</a>. Some changes have been made.</span>
      <span class="site-footer-credits">Site designed licensed under <a href="https://creativecommons.org/licenses/by/4.0/">CC Attribution 4.0 International</a>.</span>
    </footer>
    
  </section>
  
  
</body>
</html>
